/* *,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
}

.root {
  max-width: 1280px;
} */
